@import "variables";
@import "mixins";

.head-logo-login {
  padding: 40px 40px 0;
}

.login {
  .logo {
    text-align: left;
    margin-top: 0;
    margin-bottom: 50px;
    background-image: url("@{path-images}/bg-white-lock.png");
  }

  .name-list-login {
    li {
      color: #fff;
      .text-shadow();

      &:first-child {
        font-size: 1.8rem;
      }

      &:nth-of-type(2) {
        font-size: 1.8rem;
      }
    }
  }
}



.scope-item {
  text-align: center;
  padding: 0;
  .transition(all 0.3s linear);

  a {
    display: block;
    text-decoration: none;

    .fa {
      color: #a6a6a6;
      color: #fff;
      font-size: 100px;
      line-height: 100px;
      margin-top: 20px;
      margin-bottom: 20px;
    }

    span {
      display: block;
      color: #010407;
      color: #fff;
      margin-bottom: 20px;
    }
  }

  &:hover,
  &.active {
    .box-shadow(inset 0px 0px 59px 3px rgba(0,0,0,0.32));
  }
}

.ph-item {
  border: 1px solid #e5e5e5;
  padding: 0;

  &.active {
    border-color: #1ba39c;
    background-color: #1ba39c;

    label {
      span {
        color: #fff;
      }
    }
  }

  label {
    padding: 10px;
    text-align: center;
    display: block;
    cursor: pointer;
    position: relative;

    .img {
      margin-bottom: 10px;
      overflow: hidden;
      position: relative;
      width: 100%;

      &:after {
        content: '';
        display: block;
        padding-bottom: 65%;
      }

      .inner {
        position: absolute;
        width: 100%;
        height: 100%;
      }
    }

    input[type='radio'],
    .radio {
      position: absolute;
      top: 0;
      left: 0;
      visibility: hidden;
    }

    .fa {
      font-size: 50px;
      line-height: 50px;
      margin-bottom: 10px;
    }

    span {
      display: block;
    }
  }
}

.bm-item {
  border: 1px solid #e5e5e5;
  padding: 0;

  &.active {
    border-color: #1ba39c;
    background-color: #1ba39c;

    label {
      color: #fff;
      span {
        color: #fff;
      }
    }
  }

  label {
    padding: 10px;
    display: block;
    position: relative;
    cursor: pointer;
    width: 100%;
    height: 100%;

    input[type=radio],
    .radio {
      position: absolute;
      top: 0;
      left: 0;
      visibility: hidden;
    }
  }
}

.mt-element-step {
  .step-thin {
    .done {
      background-color: #1BBC9B !important;

      .mt-step-number {
        color: #1BBC9B !important;
      }

      .mt-step-title,
      .mt-step-content {
        color: #fff !important;
      }
    }

    .active {
      background-color: #1BA39C !important;

      .mt-step-number {
        color: #1BA39C !important;
      }

      .mt-step-title,
      .mt-step-content {
        color: #fff !important;
      }
    }
  }
}

.vcl-login{
  height: 100vh;
  position: relative;

  .foot-image{
    position: absolute;
    bottom: 0;
    left: 0;
    img{
      .opacity();
    }
  }
}



.my-width-auto {
  width: auto;
}

.my-width-expand {
  width: 1px;
  -ms-flex: 1;
  -webkit-flex: 1;
  flex: 1;
  min-width: 0;
  flex-basis: 1px;
}

.my-child-width-expand > * {
  width: 1px;
}

.my-child-width-expand > :not([class*=my-width]) {
  -ms-flex: 1;
  -webkit-flex: 1;
  flex: 1;
  min-width: 0;
  flex-basis: 1px;
}

@media (min-width: 400px) {
}

@media (min-width: 640px) {
  .my-width-auto-s {
    width: auto;
  }

  .my-width-expand-s {
    width: 1px;
    -ms-flex: 1;
    -webkit-flex: 1;
    flex: 1;
    min-width: 0;
    flex-basis: 1px;
  }

  .my-child-width-expand-s > * {
    width: 1px;
  }

  .my-child-width-expand-s > :not([class*=my-width]) {
    -ms-flex: 1;
    -webkit-flex: 1;
    flex: 1;
    min-width: 0;
    flex-basis: 1px;
  }
}

@media (min-width: 768px) {
}

@media (min-width: 960px) {
  .my-width-auto-m {
    width: auto;
  }

  .my-width-expand-m {
    width: 1px;
    -ms-flex: 1;
    -webkit-flex: 1;
    flex: 1;
    min-width: 0;
    flex-basis: 1px;
  }

  .my-child-width-expand-m > * {
    width: 1px;
  }

  .my-child-width-expand-m > :not([class*=my-width]) {
    -ms-flex: 1;
    -webkit-flex: 1;
    flex: 1;
    min-width: 0;
    flex-basis: 1px;
  }
}

@media (min-width: 1200px) {
  .my-width-auto-l {
    width: auto;
  }

  .my-width-expand-l {
    width: 1px;
    -ms-flex: 1;
    -webkit-flex: 1;
    flex: 1;
    min-width: 0;
    flex-basis: 1px;
  }

  .my-child-width-expand-l > * {
    width: 1px;
  }

  .my-child-width-expand-l > :not([class*=my-width]) {
    -ms-flex: 1;
    -webkit-flex: 1;
    flex: 1;
    min-width: 0;
    flex-basis: 1px;
  }
}

@media (min-width: 1280px) {
}

@media (min-width: 1366px) {
  .head-logo-login {
    padding: 80px 80px 0;
  }
}

@media (min-width: 1600px) {
  .my-width-auto-xl {
    width: auto;
  }

  .my-width-expand-xl {
    width: 1px;
    -ms-flex: 1;
    -webkit-flex: 1;
    flex: 1;
    min-width: 0;
    flex-basis: 1px;
  }

  .my-child-width-expand-xl > * {
    width: 1px;
  }

  .my-child-width-expand-xl > :not([class*=my-width]) {
    -ms-flex: 1;
    -webkit-flex: 1;
    flex: 1;
    min-width: 0;
    flex-basis: 1px;
  }
}

@media (max-width: 480px) {
  .login {
    .content {
      width: 300px;
    }
  }
}
